//- CARDS
mixin caseCard(item, ind, main=false)
  if main==false
    -var bg = "../img/cases/" + item.image;
  else
    -var bg = "img/cases/" + item.image;
  -var modClass = "cases__image--" + ind
  article.cases__item
    a.cases__link(href=item.link)
    img.cases__image(class=modClass src=bg, alt=item.alt)
    h3.cases__title= item.title
    p.cases__text= item.description



mixin priceCard(item, className)

  - var bgClassName = className + "__bg";
  - var bgClassNameTop = className + "__bg--top";
  - var bgClassNameBottom = className + "__bg--bottom";
  - var itemClassName = className + "__item";
  - var classNameTitle = className + "__subtitle";
  - var classNamePrice = className + "__price";
  - var classNamePrePrice = className + "__preprice";
  - var classNameList = className + "__sublist";
  - var classNameListItem = className + "__subitem";
  - var classNameButton = className + "__button";
  - var classNameSvgBorder = className + "__border";

  - var prePriceText = '';
  if item.prePrice
   -prePriceText = item.prePrice;

  li(class=itemClassName style=bg)
    div(class=bgClassName)
      div(class=bgClassNameTop)
      div(class=bgClassNameBottom)
      h3(class=classNameTitle)= item.title
      p(class=classNamePrice)
        span(class=classNamePrePrice)= prePriceText
        |#{item.price}
    div(class=(className + '__wrapper'))
      if item.list
        ul(class=classNameList)
          for listitem in item.list
            - var fullClassName = classNameListItem + " " + classNameListItem + "--" + listitem.color;
            if listitem.additional
              - var additionalClassName = className + "__additional";
              - var additionalClassNameFull = additionalClassName + " " +  className + "__additional" + "--" + listitem.additionalColor;
              if listitem.titleStrong
                li(class=fullClassName)
                  strong= listitem.title
                  span(class=additionalClassNameFull)= listitem.additional
              else
                li(class=fullClassName)= listitem.title
                  span(class=additionalClassNameFull)= listitem.additional

            else
              if listitem.titleStrong
                li(class=fullClassName)
                  strong= listitem.title
              else
                li(class=fullClassName)= listitem.title
      a(class=classNameButton href="#feedback") Заказать


mixin infoCard(item, className)
  - var bg = "background-image: url(" + item.path + item.icon + ")";
  - var itemClassName = className + "__item";
  - var classNameTitle = className + "__subtitle";
  - var classNameText = className + "__text";

  li(class=itemClassName style=bg)
    h3(class=classNameTitle)= item.title
    p(class=classNameText)= item.description

//- HERO BLOCK
mixin heroBlock(data)
  - var bg = "background-image: url(" + data.bg + ")";
  section.hero.section(style=bg)
    .hero__mobilebackground
    .hero-content.container
      .hero-content__wrapper
        h2.hero-content__title=data.title
        p.hero-content__text= data.text
        a.hero-content__button(href="#feedback")= data.button
    //- .hero__background
    //-   img(src=data.bg, alt="dsfsdf")

//- MODAL WINDOW GET CALL
mixin callModal(path="main")
  .modal__container(data-goody-target="call")
    .modal__header
      button.modal__close
        svg.modal__icon-close(aria-hidden="true")
          if path == "main"
            use(xlink:href="img/svg/sprite.svg#close")
          if path =="other"
            use(xlink:href="../img/svg/sprite.svg#close")
          if path =="otherInner"
            use(xlink:href="../../img/svg/sprite.svg#close")
    .modal__content.modal-call__content
      h2.modal-call__title Заказать звонок
      p.modal-call__description Обычно, наш менеджеры перезванивают в течение двух часов в рабочее время
      form.modal-call__form
        input.modal-call__input(placeholder="Номер телефона")
        button.modal-call__button Заказать звонок
      p.modal-call__errors
      p.modal-call__prevention Нажимая на кнопку «Заказать звонок» вы соглашаетесь с
        a.modal-call__privacy(href="#")  правилами обработки персональных данных.



//- LOGO
mixin logo(blockClass, path = "main", mod = '')
  -
    var classNameWrapper = blockClass + '-logo logo';
    var classNameLink = blockClass + '-logo__link logo__link';
    var classNameLogoImage = blockClass + '-logo__image logo__image';
    //- var srcPath = "./img/logo.webp";
    //- if path == "other"
    //-   srcPath = "../img/logo.webp";
  if mod > ''
    - var classNameWrapperFull = classNameWrapper + ' ' + classNameWrapper + mod;
    div(class=classNameWrapperFull)
      a(class=classNameLink href="#" aria-label="Главная")
        if path == "main"
          img(class=classNameLogoImage loading="lazy" src="./img/logo.webp" alt="Ads Target")
        if path == "otherInner"
          img(class=classNameLogoImage loading="lazy" src="../../img/logo.webp" alt="Ads Target")
        else
          img(class=classNameLogoImage loading="lazy" src="../img/logo.webp" alt="Ads Target")
  else
    div(class=classNameWrapper)
      a(class=classNameLink href="/" aria-label="Главная")
        if path == "main"
          img(class=classNameLogoImage loading="lazy" src="./img/logo.webp" alt="Ads Target")
        if path == "otherInner"
          img(class=classNameLogoImage loading="lazy" src="../../img/logo.webp" alt="Ads Target")
        else
          img(class=classNameLogoImage loading="lazy" src="../img/logo.webp" alt="Ads Target")
          //- img(class=classNameLogoImage loading="lazy" src=srcPath alt="Ads Target")

//- PICTURES
mixin picture(obj, ind, type, ariaHidden = false)
  -
    var pathWebp= '.' + obj.path + obj.name + '.webp';
    var pathImg = '.' + obj.path + obj.name + '.' + type;
    var pathImgSet = '';

  if ind != ''
    if obj.mod
      -var uniqueClassNamePicture = obj.classNamePicture + '--' + ind;
      -var classNamePictureFull = obj.classNamePicture + ' ' + uniqueClassNamePicture + ' ' + obj.mod;
    else
      -var uniqueClassNamePicture = obj.classNamePicture + '--' + ind;
      -var classNamePictureFull = obj.classNamePicture + ' ' + uniqueClassNamePicture;
  else
    if obj.mod
      -var classNamePictureFull = obj.classNamePicture + ' ' + obj.mod;
    else
      -var classNamePictureFull = obj.classNamePicture;

  if ariaHidden === true
    picture(class=classNamePictureFull aria-hidden="true")
      if obj.breakPoints
        for w in obj.breakPoints
          -
            var name = obj.name + '_' + w;
            var pathWebp = '.' + obj.path + name + '.webp';
            var minWidth = '(max-width: ' + w + 'px)';

          source(srcset=pathWebp type="image/webp" media=minWidth)
      source(srcset=pathWebp type="image/webp")
      if pathImgSet != ''
        img(class=obj.classNameImg loading="lazy" srcset=pathImgSet src=pathImg alt=obj.alt)
      else
        img(class=obj.classNameImg loading="lazy" src=pathImg alt=obj.alt)
  else
    picture(class=classNamePictureFull)
      if obj.breakPoints
        for w in obj.breakPoints
          -
            var name = obj.name + '_' + w;
            var pathWebp = '.' + obj.path + name + '.webp';
            var minWidth = '(max-width: ' + w + 'px)';

          source(srcset=pathWebp type="image/webp" media=minWidth)
      source(srcset=pathWebp type="image/webp")
      if pathImgSet != ''
        img(class=obj.classNameImg loading="lazy" srcset=pathImgSet src=pathImg alt=obj.alt)
      else
        img(class=obj.classNameImg loading="lazy" src=pathImg alt=obj.alt)

mixin socLink(arr, path)
  ul.socials
    for link in arr
      -var getPath = path + link.id;
      li.socials__item
        a.socials__link(href=link.link)
          svg.socials__icon
            use(xlink:href=getPath)
